<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>


<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                <% @lists.each do |list| %>
                 <div class="col">
                <div class="card h-100 shadow-sm">
                 <% if list.photo.attached? %>
                <img src="<%list.photo.key%>" class="card-img-top user-img" alt="...">
                <% end %>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> <span class="float-end price-hp">12354.00€</span> </div>
                        <h5 class="card-title"> <%= list.name %></h5>
                        <div class="text-center my-4"> <a href="<%= list_path(list) %>" class="btn btn-warning">Edit List</a> </div>
                    </div>
                </div>
            </div>
<% end %>
