// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#bootstrap-overrides .user-img {
  width: 200%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  max-width: 250px;
  max-height: 250px;
}
